.container {
    background-color: grey;
    height: 100%;
    width: 100%;
    padding: 2ch 5ch;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .moduleItem {
        width: 100%;
        height: auto;
        padding: 0.5ch 2ch;

        display: grid;
        grid-template-columns: 8ch 1fr;
        text-align: left;

        &:hover { 
            border: solid 1px black;
        }
    }
}