.container {
    height: 100%;
    width: 100%;
    padding: 2ch 5ch;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .backButton {
        position: absolute;
        top: 2ch;
        left: 0;
        padding: 1ch;

        &:hover {
            cursor: pointer;
        }
    }

    .scheduleItem {
        width: 100%;
        height: auto;
        padding: 0.5ch 2ch;
        box-sizing: border-box;
        border: solid 4px transparent;

        display: grid;
        grid-template-columns: 8ch 1fr;
        text-align: left;

        &:hover { 
            border: solid 4px black;
            cursor: pointer;
        }
    }

    .scheduleEntry {
        position: absolute;
        bottom: 10ch;
        left: 0;
        width: 100%;
        color: rebeccapurple;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2ch;

        .addButton {
            background-color: rebeccapurple;
            color: white;
            padding: 2ch;
            text-decoration: none;
            border: none;
            font-family: 'Rubik', cursive;
            margin: 0ch 0.5rem;
        }

        .uploadButton {
            background-color: rebeccapurple;
            color: white;
            padding: 2ch;
            text-decoration: none;
            border: none;
            font-family: 'Rubik', cursive;
            margin: 0ch 0.5rem;
        }
    }
}