@import 'main';

.container {
    padding: 5ch 8ch;
    width: 100%;
    background-color: color('back');
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5ch 1fr 5ch;

    .headerContainer {
        padding: 0 2ch;
        position: relative;

        .backButton {
            text-decoration: none;
            border: none;
            padding: 0.1ch 1ch;
            position: absolute;
            top: 0;
            left: -5ch;
            width: auto;
            height: 100%;
            background-color: color('back');
            // background-color: whitesmoke;

            svg {
                font-size: 1.5rem;
            }

            &:hover {
                color: color('secondary');
                background-color: whitesmoke;
                cursor: pointer;
            }
        }

        p {
            color: rgb(151, 151, 151);
        }
    }

    .scheduleContainer {
        color: color('main');
        padding-top: 1ch;

        .scheduleMenuItem {
            padding: 2ch;

            &:hover {
                background-color: whitesmoke;
                color: color('secondary');
                cursor: pointer;
            }
        }
    }

    .buttonContainer {
        width: 100%;
        padding: 2ch 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        button {
            font-size: 1.5rem;
            width: 4ch;
            height: 4ch;
            padding: 1ch;
            margin: 1ch;
            background-color: color('primary');
            border: solid transparent 2px;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
                border: solid black 2px;
                transform: translateY(-2px);
            }
        }
    }
}